In [ ]:
pip install facebook-sdk

Requirement already satisfied: facebook-sdk in /usr/local/lib/python3.6/dist-packages (3.1.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from facebook-sdk) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->facebook-sdk) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->facebook-sdk) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->facebook-sdk) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->facebook-sdk) (2020.11.8)

In [ ]:
import json
import pandas as pd
import facebook

###Token Acceso

In [ ]:
token = {'EAAL4MkWkA0cBAPIS6K62Fj2dUDhUUAC5fSoHm4In4WMCZAtq4otKcwZA9WezACH3IuFlQVRe8sVBJc57aeiOaG0sy5AfG2J084kJQCxcJmUDhzca8RX9JiJZBKy6caWAQdpM9aqXkvxmwtRHjcDXEnvx9iaKZBnWZBQwQZAS6WXNXNVRpQ2zFzTofQ5Oa7y1axZCEKjbM94vAJCPQFjrlrV6v4uJ4Vqa2A8iakobhQLrAZDZD'}
graph = facebook.GraphAPI(token)
id_cuenta = '2146046478801642'

###Extrayendo la Data

In [ ]:

def extract_data_posts(token, graph):

  fields = ['posts']
  fields =','.join(fields)
  data = graph.get_object(id_cuenta, fields=fields)

  with open('data.json', 'w') as file:
    return json.dump(data, file, indent=4)

extract_data_posts(token, graph)

### Normalizando Data

In [ ]:
def normalize_data_posts():

  path = r'data.json'

  with open(path) as data:    
      d = json.load(data)  
      
  df_message_posts = pd.json_normalize(d['posts']['data'])
  return df_message_posts

normalize_data_posts()

                created_time  ...                                              story
0   2019-12-11T01:22:20+0000  ...                                                NaN
1   2019-12-11T01:20:42+0000  ...                                                NaN
2   2019-11-27T23:15:26+0000  ...                                                NaN
3   2019-10-21T19:11:37+0000  ...                                                NaN
4   2019-06-07T17:03:30+0000  ...                                                NaN
5   2018-12-16T19:02:38+0000  ...                                                NaN
6   2018-10-09T18:37:18+0000  ...                                                NaN
7   2018-09-21T19:58:55+0000  ...                                                NaN
8   2018-09-16T18:54:30+0000  ...                                                NaN
9   2018-09-16T18:37:35+0000  ...                                                NaN
10  2018-09-08T15:37:11+0000  ...                                                NaN
11  2018-09-08T15:34:03+0000  ...  Comunidad Lepricon updated their profile picture.
12  2018-09-05T15:40:45+0000  ...      Comunidad Lepricon updated their cover photo.
13  2018-09-03T15:50:51+0000  ...                                                NaN
14  2018-09-01T14:52:49+0000  ...                                                NaN
15  2018-08-23T13:14:07+0000  ...                                                NaN
16  2018-08-16T05:20:22+0000  ...                                                NaN
17  2018-08-12T16:06:37+0000  ...                                                NaN
18  2018-08-10T17:33:23+0000  ...                                                NaN
19  2018-08-09T03:00:29+0000  ...                                                NaN
20  2018-08-08T03:00:19+0000  ...                                                NaN
21  2018-08-08T02:52:45+0000  ...                                                NaN
22  2018-08-08T02:45:40+0000  ...      Comunidad Lepricon updated their cover photo.
23  2018-08-08T02:25:40+0000  ...  Comunidad Lepricon updated their profile picture.

[24 rows x 4 columns]

### Data Comments

In [ ]:
def extract_data_comments(token, graph):

  fields = ['posts{comments}']

  fields =','.join(fields)

  data = graph.get_object(id_cuenta, fields=fields)

  with open('data_comments.json', 'w') as file:
    return json.dump(data, file, indent=4)


extract_data_comments(token, graph)

In [ ]:

def normalize_data_posts_comments():

  path = r'data_comments.json'
  with open(path) as data:    
      d = json.load(data)    
      
  df_comments = pd.json_normalize(d['posts']['data'])
  df_comments.rename(columns={'comments.data':'comments'},inplace=True)
  return df_comments

normalize_data_posts_comments()

                                   id  ...                               comments.paging.next
0   2146046478801642_3336464786426466  ...                                                NaN
1   2146046478801642_3336461673093444  ...                                                NaN
2   2146046478801642_3291510617588550  ...  https://graph.facebook.com/v9.0/21460464788016...
3   2146046478801642_3172585299481083  ...                                                NaN
4   2146046478801642_2790584434347840  ...  https://graph.facebook.com/v9.0/21460464788016...
5   2146046478801642_2399725356767085  ...                                                NaN
6   2146046478801642_2261894053883550  ...                                                NaN
7   2146046478801642_2229802820426007  ...                                                NaN
8   2146046478801642_2221579724581650  ...                                                NaN
9   2146046478801642_2221560464583576  ...                                                NaN
10  2146046478801642_2207970102609279  ...                                                NaN
11  2146046478801642_2207965395943083  ...                                                NaN
12  2146046478801642_2202846113121678  ...                                                NaN
13  2146046478801642_2199533453452944  ...                                                NaN
14  2146046478801642_2196083763797913  ...                                                NaN
15  2146046478801642_2180260858713537  ...                                                NaN
16  2146046478801642_2164349330304690  ...                                                NaN
17  2146046478801642_2156261684446788  ...                                                NaN
18  2146046478801642_2151927494880207  ...                                                NaN
19  2146046478801642_2148383368567953  ...                                                NaN
20  2146046478801642_2146094795463477  ...                                                NaN
21  2146046478801642_2146084665464490  ...                                                NaN
22  2146046478801642_2146074238798866  ...                                                NaN
23  2146046478801642_2146046912134932  ...                                                NaN

[24 rows x 5 columns]

In [ ]:
df_comments = normalize_data_posts_comments()
df_message_posts = normalize_data_posts()

##Normalizando los comentarios

In [ ]:
  lista_commentarios = []
  lista_id = []
  
  for i in range(22):
    lista = df_comments.comments.T[i]
    lista_commentarios.append(lista)

lista_commentarios[1]

[{'created_time': '2019-12-11T01:22:01+0000',
  'id': '3336461673093444_3336464189759859',
  'message': 'Fabián Rodríguez Gómez'},
 {'created_time': '2020-02-10T02:36:06+0000',
  'id': '3336461673093444_3525264010879875',
  'message': 'Wuao te empece a seguir desde que no tenías ningún subscrito yo fui el primero y me dijiste en un DM para jugar y te dije que si te escribo de nuevo y nada'}]

In [ ]:
df_comments = normalize_data_posts_comments()

def normalize_data_comments():
  created_time_comentario, message_comentario, id_comentario, lista_commentarios = [],[],[],[]

  #Guardando en una lista y aplicando la Transpuesta
  #esto se hace para darle un mejor orden a los datos de la columna comments

  for i in range(22):
    lista = df_comments.comments.T[i]
    lista_commentarios.append(lista)

  # Guardando valores en las respectivas listas
  for i in range(len(lista_commentarios)):
    if str(lista_commentarios[i]) != 'nan':
      for elem in lista_commentarios[i]:    
        for k,v in elem.items():       
            if k == 'message':
              message_comentario.append(v)
            if k == 'id':
              id_comentario.append(v)
            if k == 'created_time':
              created_time_comentario.append(v)


  # generando un DataFrame con los datos 
  df_comments_post = pd.DataFrame({"created_time_comentario":created_time_comentario,"Id_comentario":id_comentario, "Comentarios":message_comentario})
  df_comments_post.tail(10)

  return df_comments_post

normalize_data_comments()

     created_time_comentario  ...                                        Comentarios
0   2019-12-11T01:22:01+0000  ...                             Fabián Rodríguez Gómez
1   2020-02-10T02:36:06+0000  ...  Wuao te empece a seguir desde que no tenías ni...
2   2020-07-31T05:27:30+0000  ...                               Cuanto por la cuenta
3   2020-06-13T22:55:03+0000  ...                              Cuanto bale tu cuenta
4   2020-07-25T04:43:15+0000  ...                                         Cuanto pro
..                       ...  ...                                                ...
84  2018-08-10T19:39:00+0000  ...                                              Chido
85  2018-08-09T22:19:07+0000  ...  Colega en instagram se encuentra la informació...
86  2018-08-09T22:47:03+0000  ...                             grc a si jaja ya lo vi
87  2018-08-09T21:47:44+0000  ...                                  ya ise  los pasos
88  2018-08-09T01:07:45+0000  ...                     Ya puedo oler mis diamantes :v

[89 rows x 3 columns]